html {
  background: rgb(239,255,0);
  background: linear-gradient(90deg, rgba(239,255,0,1) 0%, rgba(29,253,237,1) 50%, rgba(207,191,167,1) 100%);
}

.header {
  text-align: center;
  font-size: 50px;
	    text-align: center;
	    color: #fcedd8;
	   	font-family: 'Niconne', cursive;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b, 
                  10px 10px 0px #efa032, 
                  15px 15px 0px #46b59b, 
                  20px 20px 0px #017e7f, 
                  25px 25px 0px #052939, 
                  30px 30px 0px #c11a2b, 
                  35px 35px 0px #c11a2b, 
                  40px 40px 0px #c11a2b, 
                  45px 45px 0px #c11a2b;
	
}

.game-container {
  display: flex;
  padding: 30px;
  justify-content: center;
  margin: 30px;
}

.game {
  width: 560px;
  height: 560px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-radius: 30px;
  border-color: antiquewhite;
  background-color: rgb(252, 252, 252);
  box-shadow: 5px 10px 10px 10px #888888;
}

.game img {
  width: 70px;
  height: 70px;
}

.score {
  margin-left: 50px;
  width: 200px;
  height: 200px;
  padding: 30px;
  border-style: solid;
  border-radius: 30px;
  border-color: antiquewhite;
  background-color: rgb(252, 252, 252);
  box-shadow: 5px 10px 10px 10px #888888;
}
